# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
scenes/Zombie[[:space:]]Run[[:space:]](3).fbx filter=lfs diff=lfs merge=lfs -text
*.blend.zip filter=lfs diff=lfs merge=lfs -text
