# Godot 4+ specific ignores
.godot/
/android/

# unused assets moved out of the project
/_UNUSED/

# web export output
/station-siege.html
/station-siege.js
/station-siege.wasm
/station-siege.pck
/station-siege.*.js
/station-siege*.png
